body {
  background-color: rgb(80, 80, 80);
}

.project-container {
  display: flex;
  justify-content: center;
}

.project {
  width: 20%;
  margin: 0 auto;
  border-radius: 50px;
  border: 6px solid rgba(0, 0, 0, 0);
}

.project:hover {
  border: 6px solid rgba(0, 0, 0, 1);
}
