body {
  background-color: rgb(80, 80, 80);
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
  line-height:150%;
  text-decoration: underline;
}

h3 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  line-height:150%;
}

.project-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.project {
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
  border: 6px solid rgba(0, 0, 0, 0);
}

.project:hover {
  border: 6px solid rgba(0, 0, 0, 1);
}